################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OwenSkinAnimation/x64/Debug
/OwenSkinAnimation/.vs/OwenSkinAnimation
/OwenSkinAnimation/x64/Release
/x64
/.vs/OwenSkinAnimation
